<div>
    <div id="logo">
        <img src="images/lokos.png">
    </div>
</div>
<div id="account">
    <div id="registr">
        Регистрация
    </div>
    <div id="door">
        Войти
    </div>
</div>