<div class="first-row">
    <div class="arrive">
        Дата заезда: <input type="date" required>
    </div>
    <div class="goout">
        Дата выезда: <input type="date" required>
    </div>

</div>
<div class="second-row">
    <div class="quentity">
        <label for="guest">Количество гостей:</label>
        <input list="guests" name="guest" id="guest">
        <datalist id="guests">
            <option value="1">
            <option value="2">
            <option value="3">
            <option value="4">
        </datalist>
    </div>
    <div class="button-find">
        <button class="find">Поиск</button>
    </div>
</div>